<%- include('./partials/header') %>

    <h2 class="display-5" id="homePage">
        Welcome! check out some new recipes and even add your personal favorites!
    </h2>
    <img src="/images/priscilla-du-preez-9-ixPIHsf1A-unsplash.jpg">

<%- include('./partials/footer') %>
    