<%- include('./partials/header') %>

<h2>Log in to check out some new recipes and maybe even add your personal favorites!</h2>

<h3>"I'm not a mess in the kitchen; I'm just creatively disorganized"</h3>


<%- include('./partials/footer') %>