@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Bodoni Moda', serif;
  color: #000000;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  color: rgba(127, 25, 185, 0.8);
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 70px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: rgb(0, 0, 0);
  background-color: #d0ae04;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#homePage {
  font-size: 25px;
  padding-bottom: 20px;
  font: 'Bodoni Moda', serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 3px;
}

div {
  background-image: url('brooke-lark-wMzx2nBdeng-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

hr {
  color: #e76413
}
