<%- include('../partials/header') %>

<form>
    <label>Name:
        <input type="text" name="recipeName">
    </label><br>
    <label>Servings:
        <input type="text" name="servings">
    </label><br>
    <label>Total time in mins:
        <input type="text" name="totalTime">
    </label><br>
    <label>Ingredients:
        <textarea name="ingredients"></textarea>
    </label><br>
    <label>Recipe:
        <textarea name="recipe"></textarea>
    </label><br>
    <label>Difficulty:</label>
    <select name="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
<button type="submit">Update recipe</button>
</form>

<%- include('../partials/footer') %>
