<%- include('../partials/header') %>

<h3>As my abuelita once said:
  "I'm not a mess in the kitchen, I'm just creatively disorganized"
</h3>

<section id="list">
  <ul>
    <% recipes.forEach(function(r) { %>
      <li><a href="/recipes/<%= r._id %>"><%= r.title %></a></li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>