<%- include('../partials/header') %>

<h2>As my abuelita once said:
  "I'm not a mess in the kitchen, I'm just creatively disorganized"
</h2>

<table id="list">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(r) { %>
      <tr>
        <td><%= r.recipeName %></td>
        <td><a href="/recipes/<%= r._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</section>

<%- include('../partials/footer') %>