<%- include('../partials/header') %>

<h2 class="display-5" id="addNew">Add your own!</h2>
<form action="/recipes" method="POST">
    <label>Name:
        <input type="text" name="recipeName">
    </label><br><br>
    <label>Servings:
        <input type="text" name="servings">
    </label><br><br>
    <label>Total time in mins:
        <input type="text" name="totalTime">
    </label><br><br>
    <label>Ingredients:
        <textarea name="ingredients"></textarea>
    </label><br><br>
    <label>Recipe:
        <textarea name="recipe"></textarea>
    </label><br><br>
    <label>Difficulty:</label>
    <select name="difficulty">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
    </label><br><br>
    
    <button type="submit">Add Recipe</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>