<%- include('../partials/header') %>

<h2>Add your own!</h2>
<form action="/recipes" method="POST">
    <label>Name:
        <input type="text" name="recipeName">
    </label><br><br>
    <label>Total time:
        <input type="number" name="totalTime">
    </label><br><br>
    <label>Yield:
        <input type="text" name="yield">
    </label><br><br>
    <label>Ingredients:
        <input type="text" name="ingredients">
    </label><br><br>
    <label>Difficulty:</label>
    <select name="difficulty">
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Hard</option>
    </select>
    </label><br><br>
    <label>Recipe:
        <textarea name="content"></textarea>
    </label><br><br>
    
    <button type="submit">Add Recipe</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>