<%- include('../partials/header') %>

<form id="new-form" action="/recipes" method="POST">
  <label>Recipe:</label>
  <input type="text" name="name">
  <label>Total cook time:</label>
  <input type="text" name="time">
  <label>Difficulty:</label>
  <input type="text" name="difficulty">
    <select name="Rating"></select>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
    </select>
  <label>Would recommend:</label>
  <input type="checkbox" name="Absolutely!" checked>
  <input type="submit" value="Add Recipe">
</form>

<%- include('../partials/footer') %>