<%- include('../partials/header') %>

<h2>Featured Recipes</h2>
<form action="/recipes" method="POST">
    <label>Name:
        <input type="text" name="title">
    </label><br><br>
    <label>Total time:
        <input type="text" name="total cook time">
    </label><br><br>
    <label>Difficulty:
        <input type="text" name="difficulty">
    </label><br><br>
    <label>Categories
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Desserts">Dessert</option>
            <option value="Snacks">Snacks</option>
        </select>
    </label><br><br>
    <button type="submit">Add Recipe</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>

recipeName: String,
    totalTime: Number,
    difficulty: String,
    yield: String,
    recipe: String,